<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - by O'Reilly</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <img src="https://cdn.oreillystatic.com/images/sitewide-headers/oreilly_logo_mark_red.svg">
        <span></span>
        <a href="{{ url_for('index') }}">Personality Test</a>
        <a href="{{ url_for('add_roles') }}">Add Role</a>
        <a href="{{ url_for('roles') }}">Current Roles</a>

    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>