{% include 'base.html' %}

{% block content %}
    <h1>{% block title %}Perform your Personality Test {% endblock %}</h1>
    <p>
    Here you can send your personality test to look for a new position. We are going
        to show you the best job roles.
    </p>


    <hr>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }}
            {{ form.name(size=30) }}
        </p>

        {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.email.label }}
            {{ form.email(size=30) }}
        </p>

        {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% include 'questions.html' %}

        <p>
            <input type="submit" value="Send Personality Test">
        </p>
    </form>

{% endblock %}

